body {
    background-color: black;
    color: white;
}

/* The sidebar menu */
html,body{
  height:100%;
  }
  
  *{
  margin:0;
    padding:0;
  }
  .wraper{
  height:100%;
    overflow:hidden;
  }
  .top {
    top:0;
    background-color: black;
    color: green;

  }
  .left {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    left: 0;
    float: top;
    overflow-x: hidden;
  }
  .main {
    margin-left: 180px;
    padding: 0px 10px;
   }

   pre {
    background-color: black;
   }
  